<!DOCTYPE html>

<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
  
<head>
	<meta charset="utf-8">
</head>

	<main layout:fragment="custom-main">
	
		<div class="album py-5" style="background:#f2f2f2">
			
			<div class="container text-center">
				<h1 style = "font-family:Lucida Bright">Onde Estamos localizados</h1>
				<a href="https://goo.gl/maps/SbypFPpPwcZ8kZqA6" target="_blank"><img src="/imagens/mapaMarteCell.png" class="img-fluid" alt="..."></a>
				<h3>MarteCell - R. França, 419 - Jardim Caiçara Cabo Frio - RJ, 28910-140</h3>
			</div>
			
		</div>
		
		<a href="https://wa.me/5522999896873?text=Adorei%20seu%20artigo" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
  z-index:1000;" target="_blank">
<i style="margin-top:16px" class="fa fa-whatsapp"></i>
</a>
	  
	</main>

</html>